<!DOCTYPE html>
<html lang="en">

<head>
	<title>
		<%= title %>
	</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/png" href="images/icons/favicon.png" />
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
	<link rel="stylesheet" type="text/css" href="fonts/linearicons-v1.0.0/icon-font.min.css">
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
	<link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
	<link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
	<link rel="stylesheet" type="text/css" href="vendor/slick/slick.css">
	<link rel="stylesheet" type="text/css" href="vendor/MagnificPopup/magnific-popup.css">
	<link rel="stylesheet" type="text/css" href="vendor/perfect-scrollbar/perfect-scrollbar.css">
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<% if (toast !==undefined && toast !==null) { %>
	<script>
		try {
			new Swal("Alert!", '<%= toast %>', 'warning'); // Display as a warning
		} catch (error) {
			console.log(error);
		}
	</script>
	<% } %>


		<style>
			/* Styles for Modal */
			.custom-modal {
				display: none;
				position: fixed;
				z-index: 1;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				overflow: auto;
				background-color: rgba(0, 0, 0, 0.4);
			}

			.custom-modal-container {
				background-color: #fefefe;
				margin: 10% auto;
				padding: 20px;
				border: 1px solid #888;
				width: 80%;
				max-width: 400px;
				position: relative;
			}

			.modal-header {
				font-size: 24px;
				margin-bottom: 15px;
			}

			.modal-description {
				font-size: 16px;
				margin-bottom: 20px;
			}

			.modal-actions {
				text-align: right;
			}

			.modal-btn {
				padding: 10px 15px;
				margin-left: 5px;
				text-align: center;
				text-decoration: none;
				display: inline-block;
				font-size: 16px;
				cursor: pointer;
				border: 1px solid #ddd;
				border-radius: 4px;
				background-color: #f5f5f5;
				color: #333;
			}

			.modal-btn:hover {
				background-color: #ddd;
			}

			/* Close Button Styles */
			.modal-close {
				position: absolute;
				right: 10px;
				top: 5px;
				font-size: 20px;
				font-weight: bold;
				color: #333;
				cursor: pointer;
			}

			.btn-cancel {
				background-color: #0aa02b;
			}

			.btn-delete {
				background-color: #d32f2f;
			}

			.modal {
				display: none;
				position: fixed;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: rgba(0, 0, 0, 0.5);
			}

			.modal-content {
				background-color: #fff;
				padding: 20px;
				max-width: 400px;
				margin: 10% auto;
				border-radius: 8px;
				position: relative;
			}

			.close {
				position: absolute;
				top: 10px;
				right: 10px;
				font-size: 20px;
				cursor: pointer;
			}

			.modal-title {
				font-size: 1.5em;
				margin-bottom: 10px;
			}

			.modal-text {
				margin-bottom: 20px;
			}

			.btn {
				display: inline-block;
				padding: 10px 20px;
				text-decoration: none;
				border-radius: 4px;
				cursor: pointer;
			}

			.btn-delete {
				background-color: #e74c3c;
				color: #fff;
			}

			.btn-cancel {
				background-color: #3498db;
				color: #fff;
				margin-left: 10px;
			}

			/* Hover effect for buttons */
			.btn:hover,
			.btn-delete:hover,
			.btn-cancel:hover {
				opacity: 0.8;
			}



			.body-disabled {
				overflow: hidden;
			}
		</style>

		<script>
			function openModal() {
				document.getElementById("loginModal").style.display = "block";
				document.body.classList.add("body-disabled");
			}

			function closeModal() {
				document.getElementById("loginModal").style.display = "none";
				document.body.classList.remove("body-disabled");
			}

			window.onload = openModal;

			function goBack() {
				window.history.back()
			}
			function openConfirmationModal(id) {
				document.getElementById('aaaconfirmationModal' + id).style.display = 'block';
			}

			function closeConfirmationModal(id) {
				document.getElementById('aaaconfirmationModal' + id).style.display = 'none';
			}

		</script>



		<!-- Header -->
		<header class="header-v3">
			<!-- Header desktop -->
			<div class="container-menu-desktop trans-03">
				<div class="wrap-menu-desktop">
					<nav class="limiter-menu-desktop p-l-45">

						<!-- Logo desktop -->
						<a href="/home" class="logo">
							<span id="logo">TRENDS</span>
						</a>

						<!-- Menu desktop -->
						<div class="menu-desktop">
							<ul class="main-menu">
								<li>
									<a href="/home">Home</a>
								</li>

								<li class="label1" data-label1="hot">
									<a href="/products">Shop</a>
								</li>

								<li class="active-menu">
									<a href="/cart">Cart</a>
								</li>

								<li>
									<a href="/about">About</a>
								</li>

								<li>
									<a href="/contact">Contact</a>
								</li>


							</ul>
						</div>

						<!-- The rest of your cart page content goes here -->

						<!-- Icon header -->
						<!-- Icon header -->
						<div class="wrap-icon-header flex-w flex-r-m h-full">
							<div class="wrap-icon-header flex-w flex-r-m">
								<!-- Login icon -->
								<% if (valid===undefined) { %>
									<a href="/login"
										class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 js-show-login"
										data-toggle="tooltip" title="Login">
										<i class="zmdi zmdi-alert-circle"></i>
									</a>
									<% } %>




										<a href="/cart"
											class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti "
											data-notify="<%= (cartItems !== null && typeof cartItems !== 'undefined') ? cartItems : 0 %>">
											<i class="zmdi zmdi-shopping-cart"></i>
										</a>

										<% if (valid) { %>
											<a href="whishlist"
												class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti"
												data-notify="<%= whishItems %>">
												<i class="zmdi zmdi-favorite-outline"></i>
											</a>&nbsp;&nbsp;&nbsp;
											<% }else{ %>
												<a href="/login"
													class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti"
													data-notify="0">
													<i class="zmdi zmdi-favorite-outline"></i>
												</a>&nbsp;&nbsp;&nbsp;
												<% } %>

													<% if (valid) { %>
														<a href="/account"
															class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti"
															data-notify="<%= messages %>">
															<i class="zmdi zmdi-account"></i>
														</a>
														<% } %>
							</div>
							<% if (valid) { %>
								<div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 js-logout"
									data-toggle="modal" data-target="#logoutModal">
									<i class="zmdi zmdi-power-off"></i>
								</div>
								<% } %>
						</div>


						<!-- Logout Modal -->
						<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog"
							aria-labelledby="logoutModalLabel" aria-hidden="true">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="logoutModalLabel">Logout Confirmation
										</h5>
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										Are you sure you want to logout?
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary"
											data-dismiss="modal">Cancel</button>
										<a href="/logout" class="btn btn-primary">Yes,I do!</a>
									</div>
								</div>
							</div>
						</div>

				</div>
				</nav>
			</div>
			</div>

			<!-- Header Mobile -->
			<div class="wrap-header-mobile">
				<!-- Logo moblie -->
				<div class="logo-mobile">
					<span id="logo1">TRENDS</span>
				</div>
				<% if (valid===undefined) { %>
					<a href="/login" class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 js-show-login"
						data-toggle="tooltip" title="Login">
						<i class="zmdi zmdi-alert-circle"></i>
					</a>&nbsp;&nbsp;
					<% } %>

						<div class="wrap-icon-header flex-w flex-r-m m-r-15">

							<a href="/cart"
								class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti "
								data-notify="<%= (cartItems !== null && typeof cartItems !== 'undefined') ? cartItems : 0 %>">
								<i class="zmdi zmdi-shopping-cart"></i>
							</a>

							<% if (valid) { %>
								<a href="whishlist"
									class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti"
									data-notify="<%= whishItems %>">
									<i class="zmdi zmdi-favorite-outline"></i>
								</a>&nbsp;&nbsp;&nbsp;
								<% }else{ %>
									<a href="/login"
										class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti"
										data-notify="0">
										<i class="zmdi zmdi-favorite-outline"></i>
									</a>&nbsp;&nbsp;&nbsp;
									<% } %>

										<% if (valid) { %>
											<a href="/account"
												class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti"
												data-notify="<%= messages %>">
												<i class="zmdi zmdi-account"></i>
											</a>
											<% } %>
						</div>

						<!-- Button show menu -->
						<div class="btn-show-menu-mobile hamburger hamburger--squeeze">
							<span class="hamburger-box">
								<span class="hamburger-inner"></span>
							</span>
						</div>
			</div>


			<!-- Menu Mobile -->
			<div class="menu-mobile">
				<ul class="main-menu-m">
					<li>
						<a href="/home">Home</a>
						<span class="arrow-main-menu-m">
							<i class="fa fa-angle-right" aria-hidden="true"></i>
						</span>
					</li>

					<li>
						<a href="/products" class="label1 rs1" data-label1="hot">Shop</a>
					</li>

					<li>
						<a href="/cart">Cart</a>
					</li>

					<li>
						<a href="/about">About</a>
					</li>

					<li>
						<a href="/contact">Contact</a>
					</li>
					<li>
						<a href="/logout">Logout</a>
					</li>
				</ul>
			</div>


		</header>


		<!-- Title page -->
		<section class="bg-img1 txt-center p-lr-15 p-tb-92"
			style="background-image: url('https://images.unsplash.com/photo-1557821552-17105176677c?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8c2hvcHBpbmclMjBjYXJ0fGVufDB8fDB8fHww');">
			<h2 class="ltext-105 cl0 txt-center">
				Cart
			</h2>
		</section>


		<!-- Shoping Cart -->
		<form class="bg0 p-t-75 p-b-85" method="post" action="/to-checkout" id="CartForm">
			<div class="container">
				<div class="row">
					<div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
						<div class="m-l-25 m-r--38 m-lr-0-xl">
							<div class="wrap-table-shopping-cart">
								<table class="table-shopping-cart">
									<thead>
										<tr class="table_head">
											<th class="column-1">Product</th>
											<th class="column-2"></th>
											<th class="column-3">Price</th>
											<th class="column-4">Quantity</th>
											<th class="column-5">Total</th>
										</tr>
									</thead>
									<tbody>
										<% products.forEach(product=> { %>
											<tr class="table_row">
												<td class="column-1">
													<div class="how-itemcart1">
														<img src="/resized_images/<%= product.productid.img[0] %>"
															alt="Product Image">
													</div>
												</td>
												<td class="column-2">
													<a style="color: #333;"
														href="/product?id=<%= product.productid._id %>">
														<%= product.productid.name %>
													</a>
												</td>
												<td class="column-3">
													<%= product.productid.price %>
												</td>
												<td id="<%= product.productid._id %>" class="column-4">
													<% if (product.productid.quantity <=0 ||
														product.productid.status==="Disabled" ) { %>
														<p class="column-2" style="color: #d32f2f;">This item is
															Currently Unavailable
															<a onclick="removeProductCart('<%= product.productid._id %>')"
																class="cl8 trans-04">
																<i class="fs-16 zmdi zmdi-delete"></i>
															</a>
														</p>
														<% } else { %>
															<div class="wrap-num-product flex-w m-l-auto m-r-0" <%
																if(product.productid.quantity <=0) { %>
																style="display:none;" <% } %> >
																	<% if (product.quantity> 1) { %>
																		<div onclick="updateQuantity('<%= product.productid._id %>', -1)"
																			class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
																			<i class="fs-16 zmdi zmdi-minus"></i>
																		</div>
																		<% } else { %>
																			<div class="custom-modal"
																				id="aaaconfirmationModal<%= product.productid._id %>">
																				<div class="custom-modal-container">
																					<span class="modal-close"
																						onclick="closeConfirmationModal('<%= product.productid._id %>')">&times;</span>
																					<h2 class="modal-header">Remove from
																						Cart</h2>
																					<p class="modal-description">Are you
																						sure you want to remove this
																						product from your
																						cart? This action cannot be
																						undone.</p>
																					<div class="modal-actions">
																						<a onclick="removeProductCart('<%= product.productid._id %>')"
																							class="modal-btn btn-delete">Yes,
																							I do</a>
																						<button type="button"
																							class="modal-btn btn-cancel"
																							onclick="closeConfirmationModal('<%= product.productid._id %>')">Cancel</button>
																					</div>
																				</div>
																			</div>
																			<a href="#"
																				onclick="openConfirmationModal('<%= product.productid._id %>')"
																				class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
																				<i class="fs-16 zmdi zmdi-delete"
																					style="margin-left: 5px;"></i>
																			</a>
																			<% } %>
																				<input
																					id="quantity<%= product.productid._id %>"
																					class="mtext-104 cl3 txt-center num-product"
																					style="cursor: pointer;"
																					type="number" readonly
																					name="quantity"
																					value="<%= product.quantity %>"
																					min="0">
																				<% if (product.quantity <
																					product.productid.quantity) { %>
																					<div onclick="updateQuantity('<%= product.productid._id %>', 1)"
																						class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
																						<i
																							class="fs-16 zmdi zmdi-plus"></i>
																					</div>
																					<% } %>
															</div>
															<% } %>
												</td>
												<td id="prPrice<%= product.productid._id %>" class="column-5">
													<%= product.productid.price * product.quantity %>
												</td>
											</tr>
											<% }) %>
									</tbody>
								</table>
							</div>


							<div class="hidden">
								<div class="flex-w flex-sb-m bor15 p-t-18 p-b-15 p-lr-40 p-lr-15-sm">
									<div class="flex-w flex-m m-r-20 m-tb-5">
										<input class="stext-104 cl2 plh4 size-117 bor13 p-lr-20 m-r-10 m-tb-5"
											onclick="event.stopPropagation();" oninput="addCoupon()" type="text"
											name="coupons" placeholder="Coupon Code"
											onkeydown="if(event.key === 'Enter') event.preventDefault();">
									</div>
									<div class="flex-c-m stext-101 cl2 size-118 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-5"
										onclick="addCoupon()">
										Apply coupon
									</div>
								</div>
							</div>

						</div>
					</div>

					<div id="totals" class="col-sm-10 col-lg-7 col-xl-5 m-lr-auto m-b-50">
						<div class="bor10 p-lr-40 p-t-30 p-b-40 m-l-63 m-r-40 m-lr-0-xl p-lr-15-sm">
							<h4 class="mtext-109 cl2 p-b-30">
								Cart Totals
							</h4>

							<div class="flex-w flex-t p-b-13">
								<div class="size-208">
									<strong class="stext-110 cl2">
										Subtotal items
									</strong>
								</div>

								<div class="size-209">
									<span class="mtext-110 cl2">
										<%= totalPrice || 0 %>
									</span>
								</div>
							</div>

							<div class="flex-w flex-t p-b-13">
								<div class="size-208">
									<strong class="stext-110 cl2">
										Coupon discound
									</strong>
								</div>

								<div class="size-209">
									<span class="mtext-110 cl2" style="color: #06651a;" id="coupondiscound">
										0
									</span>
								</div>
							</div>

							<% products.forEach(product=> { %>
								<% if (product.productid.quantity>0&&product.productid.status=="Available") { %>
									<div class="flex-w flex-t p-t-15 p-b-30">
										<div class="size-208 w-full-ssm">
											<strong class="stext-110 cl2">
												<%= product.productid.name %>
											</strong>
										</div>
										<div class="size-209 p-r-18 p-r-0-sm w-full-ssm">
											<span class="mtext-110 cl2">
												<%= product.productid.price %> &times; <%= product.quantity %>
											</span>
										</div>
									</div>
									<% } %>
										<% }) %>




											<div class="flex-w flex-t bor12 p-b-13">
												<div class="size-208">
													<strong class="stext-110 cl2">

													</strong>
												</div>

												<div class="size-209">
													<span class="mtext-110 cl2" style="color: #0aa02b;">

													</span>
												</div>
											</div>

											<div class="flex-w flex-t p-t-27 p-b-33">
												<div class="size-208">
													<span class="mtext-101 cl2">
														Total Amount
													</span>
												</div>
												<div class="size-209 p-t-1">
													<strong class="mtext-110 cl2">
														<%= totalPrice || 0 %>₹
													</strong>
												</div>
											</div>

											<% if (productsToCheckout.length> 0) { %>
												<button id="proceddtocheckout" type="button"
													onclick="event.preventDefault(); checkQuantity()"
													class="flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer">
													Proceed to Checkout
												</button>
												<% } %>

													<link rel="stylesheet"
														href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
													<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

													<input type="hidden" name="products"
														value="<%= JSON.stringify(productsToCheckout) %>">
													<input type="hidden" id="outofstock"
														value="<%= JSON.stringify(outOfStock) %>">
													<input type="hidden" name="totalprice"
														value="<%= totalPrice || 0 %>">
						</div>
						<script>
							async function checkQuantity() {
								try {
									const stockOut = JSON.parse(document.getElementById('outofstock').value);

									if (stockOut.length > 0) {
										let alertMessage = "The following products have low stock:\n";

										for (const problem of stockOut) {
											alertMessage += `${problem.name} is only ${problem.remainingQuantity} left.\n`;
										}

										new Swal("Warning!", alertMessage, "warning");
									} else {
										document.getElementById('CartForm').submit();
									}
								} catch (error) {
									console.log('error in quantity checking: ', error.message);
								}
							}
						</script>
					</div>

				</div>
			</div>
		</form>



		</div>
		<br><br><br><br><br><br><br><br>
		<!-- Footer -->
		<footer class="bg3 p-t-75 p-b-32">
			<div class="container">
				<div class="row">
					<div class="col-sm-6 col-lg-3 p-b-50">
						<h4 class="stext-301 cl0 p-b-30">
							Categories
						</h4>

						<ul>
							<li class="p-b-10">
								<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
									Women
								</a>
							</li>

							<li class="p-b-10">
								<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
									Men
								</a>
							</li>

							<li class="p-b-10">
								<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
									Shoes
								</a>
							</li>

							<li class="p-b-10">
								<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
									Watches
								</a>
							</li>
						</ul>
					</div>

					<div class="col-sm-6 col-lg-3 p-b-50">
						<h4 class="stext-301 cl0 p-b-30">
							Help
						</h4>

						<ul>
							<li class="p-b-10">
								<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
									Track Order
								</a>
							</li>

							<li class="p-b-10">
								<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
									Returns
								</a>
							</li>

							<li class="p-b-10">
								<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
									Shipping
								</a>
							</li>

							<li class="p-b-10">
								<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
									FAQs
								</a>
							</li>
						</ul>
					</div>

					<div class="col-sm-6 col-lg-3 p-b-50">
						<h4 class="stext-301 cl0 p-b-30">
							GET IN TOUCH
						</h4>

						<p class="stext-107 cl7 size-201">
							Any questions? Let us know in store at 8th floor, 379 Hudson St, New York, NY
							10018 or
							call us
							on (+1) 96 716 6879
						</p>

						<div class="p-t-27">
							<a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
								<i class="fa fa-facebook"></i>
							</a>

							<a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
								<i class="fa fa-instagram"></i>
							</a>

							<a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
								<i class="fa fa-pinterest-p"></i>
							</a>
						</div>
					</div>

					<div class="col-sm-6 col-lg-3 p-b-50">
						<h4 class="stext-301 cl0 p-b-30">
							Newsletter
						</h4>

						<form>
							<div class="wrap-input1 w-full p-b-4">
								<input class="input1 bg-none plh1 stext-107 cl7" type="text" name="email"
									placeholder="example@gmail.com">
								<div class="focus-input1 trans-04"></div>
							</div>

							<div class="p-t-18">
								<button class="flex-c-m stext-101 cl0 size-103 bg1 bor1 hov-btn2 p-lr-15 trans-04">
									Subscribe
								</button>
							</div>
						</form>
					</div>
				</div>

				<div class="p-t-40">
					<div class="flex-c-m flex-w p-b-18">
						<a href="#" class="m-all-1">
							<img src="images/icons/icon-pay-01.png" alt="ICON-PAY">
						</a>

						<a href="#" class="m-all-1">
							<img src="images/icons/icon-pay-02.png" alt="ICON-PAY">
						</a>

						<a href="#" class="m-all-1">
							<img src="images/icons/icon-pay-03.png" alt="ICON-PAY">
						</a>

						<a href="#" class="m-all-1">
							<img src="images/icons/icon-pay-04.png" alt="ICON-PAY">
						</a>

						<a href="#" class="m-all-1">
							<img src="images/icons/icon-pay-05.png" alt="ICON-PAY">
						</a>
					</div>

					<p class="stext-107 cl6 txt-center">
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						Copyright &copy;
						<script>document.write(new Date().getFullYear());</script> All rights reserved |
						Made with
						<i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com"
							target="_blank">Colorlib</a> &amp; distributed by <a href="https://themewagon.com"
							target="_blank">ThemeWagon</a>
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

					</p>
				</div>
			</div>
		</footer>


		<!-- Back to top -->
		<div class="btn-back-to-top" id="myBtn">
			<span class="symbol-btn-back-to-top">
				<i class="zmdi zmdi-chevron-up"></i>
			</span>
		</div>



		<script>
			async function addCoupon() {
				try {
					const couponInput = document.querySelector('.stext-104[name="coupons"]');

					const proceddtocheckout = document.querySelector('#proceddtocheckout')
					const couponCode = couponInput.value.trim();
					if (couponCode) {
						$.ajax({
							url: `/to-checkout?coupon=${couponCode}`,
							method: "POST",
							success: (res) => {
								if (res.msg) {
									couponInput.style.color = 'red';
									proceddtocheckout.style.display = 'none';
									couponInput.style.borderColor = 'red';
								} else {
									couponInput.style.color = 'black';
									proceddtocheckout.style.display = 'block';
									couponInput.style.borderColor = '#E6E6E6';
									document.getElementById('coupondiscound').innerHTML = res.couponDiscount + "%";
									new Swal("Success!", "Coupon Added", "success");
								}
							},
							error: (err) => {
								console.log(err);
							}
						})
					} else {
						couponInput.style.color = 'black';
						proceddtocheckout.style.display = 'block';
						couponInput.style.borderColor = '#E6E6E6';
					}
				} catch (error) {
					console.log(error.message);
				}
			}
		</script>

		<!--===============================================================================================-->
		<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
		<!--===============================================================================================-->
		<script src="vendor/animsition/js/animsition.min.js"></script>
		<!--===============================================================================================-->
		<script src="vendor/bootstrap/js/popper.js"></script>
		<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
		<!--===============================================================================================-->
		<script src="vendor/select2/select2.min.js"></script>
		<script>
			$(".js-select2").each(function () {
				$(this).select2({
					minimumResultsForSearch: 20,
					dropdownParent: $(this).next('.dropDownSelect2')
				});
			})
		</script>
		<!--===============================================================================================-->
		<script src="vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
		<!--===============================================================================================-->
		<script src="vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
		<script>
			$('.js-pscroll').each(function () {
				$(this).css('position', 'relative');
				$(this).css('overflow', 'hidden');
				var ps = new PerfectScrollbar(this, {
					wheelSpeed: 1,
					scrollingThreshold: 1000,
					wheelPropagation: false,
				});

				$(window).on('resize', function () {
					ps.update();
				})
			});
		</script>
		<!--===============================================================================================-->
		<script src="js/main.js"></script>
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


		</body>

</html>