<%- include('layouts/header.ejs') %>
    <style>
        body {

            height: 100vh;
            margin: 0;
        }

        .size-210 {
            max-width: 500px;
            width: 100%;
        }
    </style>
    <title>
        <%= title %>
    </title>

    <body class="animsition">
        <!-- Header -->
        <header class="header-v3">
            <!-- Header desktop -->
            <div class="container-menu-desktop trans-03">
                <div class="wrap-menu-desktop">
                    <nav class="limiter-menu-desktop p-l-45">

                        <!-- Logo desktop -->
                        <a href="/home" class="logo">
                            <span id="logo">TRENDS</span>
                        </a>

                        <!-- Menu desktop -->
                        <div class="menu-desktop">
                            <ul class="main-menu">
                                <li>
                                    <a href="/home">Home</a>
                                </li>

                                <li class="label1" data-label1="hot">
                                    <a href="/products">Shop</a>
                                </li>

                                <li>
                                    <a href="/cart">Cart</a>
                                </li>

                                <li>
                                    <a href="/about">About</a>
                                </li>

                                <li>
                                    <a href="/contact">Contact</a>
                                </li>


                            </ul>
                        </div>

                        <!-- Icon header -->
                        <div class="wrap-icon-header flex-w flex-r-m h-full">
                            <div class="wrap-icon-header flex-w flex-r-m">
                               

                                <a href="/cart"
                                    class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti "
                                    data-notify="<%= (cartItems !== null && typeof cartItems !== 'undefined') ? cartItems : 0 %>">
                                    <i class="zmdi zmdi-shopping-cart"></i>
                                </a>
                                <% if (valid) { %>
                                    <a href="whishlist"
                                        class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti"
                                        data-notify="<%= whishItems %>">
                                        <i class="zmdi zmdi-favorite-outline"></i>
                                    </a>&nbsp;&nbsp;&nbsp;
                                <% }else{ %>
                                <a href="/login"
                                    class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti"
                                    data-notify="0">
                                    <i class="zmdi zmdi-favorite-outline"></i>
                                </a>&nbsp;&nbsp;&nbsp;
                                <% } %>
                                <% if (valid) { %>
                                    <a href="/account" class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti"  data-notify="<%= messages %>">
                                        <i class="zmdi zmdi-account"></i>
                                    </a>
                                    <% } %>

                            </div>
                        </div>
                        <div>&nbsp;&nbsp;&nbsp;</div>
                    </nav>
                </div>
            </div>

            <!-- Header Mobile -->
            <div class="wrap-header-mobile">
                <!-- Logo moblie -->
                <div class="logo-mobile">
                    <span id="logo1">TRENDS</span>
                </div>

                <div class="wrap-icon-header flex-w flex-r-m m-r-15">
                
                    <a href="/cart" class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti "
                        data-notify="<%= (cartItems !== null && typeof cartItems !== 'undefined') ? cartItems : 0 %>">
                        <i class="zmdi zmdi-shopping-cart"></i>
                    </a>
                    <a href="#" class="dis-block icon-header-item cl2 hov-cl1 trans-04 p-r-11 p-l-10 icon-header-noti"
                        data-notify="0">
                        <i class="zmdi zmdi-favorite-outline"></i>
                    </a>
                </div>

                <!-- Button show menu -->
                <div class="btn-show-menu-mobile hamburger hamburger--squeeze">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </div>
            </div>


            <!-- Menu Mobile -->
            <div class="menu-mobile">
                <ul class="main-menu-m">
                    <li>
                        <a href="/home">Home</a>
                        <span class="arrow-main-menu-m">
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </span>
                    </li>

                    <li>
                        <a href="/products" class="label1 rs1" data-label1="hot">Shop</a>
                    </li>

                    <li>
                        <a href="/cart">Cart</a>
                    </li>

              
                    <li>
                        <a href="/about">About</a>
                    </li>

                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                    <li>
                        <a href="/logout">Logout</a>
                    </li>
                </ul>
            </div>

           
        </header>

        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

		<% if (toast !== undefined && toast !== null) { %>
			<script>
				try {
					new Swal("🤦‍♂️", '<%= toast %>!', 'error'); // Display as a warning
				} catch (error) {
					console.log(error);
				}
			</script>
		<% } %>
		

                <!-- Error Page Section -->
                <!-- Error Page Section -->
                <section class="sec-error-page bg0 p-t-65 p-b-60">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                
                                        <div class="col-sm-12">
                                            <div class="w-50 mx-auto text-center">
                                                <img src="images/404.png" width="350" alt="Page Not Found">
                                                <h3 class="mt-40 mb-15">Oops! Page not found</h3>
                                                <% if (msg) { %>
                                                    <br>
                                                    <span class="alert alert-warning mt-3">
                                                        <% if (msg!=="Page not found") { %>
                                                            <%= msg %>
                                                        <% } %>
                                                    </span>
                                                    <br>
                                                    <br>
                                                    <% } %>
                                                <p>It's looking like you may have taken a wrong turn. Don't worry... it happens to the best of us. Here's a little tip that might help you get back on track.</p>
                                                <ul class="list-unstyled">
                                                    <li>Check your internet connection and try refreshing the page.</li>
                                                    <li>Clear your browser's cache and cookies, then try again.</li>
                                                    <li>Contact our support team at <a
                                                            href="mailto:felistob@gmail.com">felistob@gmail.com</a>
                                                        for further assistance.</li>
                                                    <li>Explore more content on our website:</li>
                                                </ul>
                                                <a href="/admin" class="btn btn-primary mt-4"><i class="material-icons md-keyboard_return"></i> Back to main</a>
                                            </div>
                             
                                   
                                           

                                </div>
                            </div>
                        </div>
                    </div>
                </section>

              


                <!-- Footer -->
                <footer class="bg3 p-t-75 p-b-32">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6 col-lg-3 p-b-50">
                                <h4 class="stext-301 cl0 p-b-30">
                                    Categories
                                </h4>

                                <ul>
                                    <li class="p-b-10">
                                        <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                                            Women
                                        </a>
                                    </li>

                                    <li class="p-b-10">
                                        <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                                            Men
                                        </a>
                                    </li>

                                    <li class="p-b-10">
                                        <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                                            Shoes
                                        </a>
                                    </li>

                                    <li class="p-b-10">
                                        <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                                            Watches
                                        </a>
                                    </li>
                                </ul>
                            </div>

                            <div class="col-sm-6 col-lg-3 p-b-50">
                                <h4 class="stext-301 cl0 p-b-30">
                                    Help
                                </h4>

                                <ul>
                                    <li class="p-b-10">
                                        <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                                            Track Order
                                        </a>
                                    </li>

                                    <li class="p-b-10">
                                        <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                                            Returns
                                        </a>
                                    </li>

                                    <li class="p-b-10">
                                        <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                                            Shipping
                                        </a>
                                    </li>

                                    <li class="p-b-10">
                                        <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                                            FAQs
                                        </a>
                                    </li>
                                </ul>
                            </div>

                            <div class="col-sm-6 col-lg-3 p-b-50">
                                <h4 class="stext-301 cl0 p-b-30">
                                    GET IN TOUCH
                                </h4>

                                <p class="stext-107 cl7 size-201">
                                    Any questions? Let us know in store at 8th floor, 379 Hudson St, New York, NY 10018
                                    or call us on (+1) 96 716 6879
                                </p>

                                <div class="p-t-27">
                                    <a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                                        <i class="fa fa-facebook"></i>
                                    </a>

                                    <a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                                        <i class="fa fa-instagram"></i>
                                    </a>

                                    <a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                                        <i class="fa fa-pinterest-p"></i>
                                    </a>
                                </div>
                            </div>

                            <div class="col-sm-6 col-lg-3 p-b-50">
                                <h4 class="stext-301 cl0 p-b-30">
                                    Newsletter
                                </h4>

                                <form>
                                    <div class="wrap-input1 w-full p-b-4">
                                        <input class="input1 bg-none plh1 stext-107 cl7" type="text" name="email"
                                            placeholder="email@example.com">
                                        <div class="focus-input1 trans-04"></div>
                                    </div>

                                    <div class="p-t-18">
                                        <button
                                            class="flex-c-m stext-101 cl0 size-103 bg1 bor1 hov-btn2 p-lr-15 trans-04">
                                            Subscribe
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="p-t-40">
                            <div class="flex-c-m flex-w p-b-18">
                                <a href="#" class="m-all-1">
                                    <img src="images/icons/icon-pay-01.png" alt="ICON-PAY">
                                </a>

                                <a href="#" class="m-all-1">
                                    <img src="images/icons/icon-pay-02.png" alt="ICON-PAY">
                                </a>

                                <a href="#" class="m-all-1">
                                    <img src="images/icons/icon-pay-03.png" alt="ICON-PAY">
                                </a>

                                <a href="#" class="m-all-1">
                                    <img src="images/icons/icon-pay-04.png" alt="ICON-PAY">
                                </a>

                                <a href="#" class="m-all-1">
                                    <img src="images/icons/icon-pay-05.png" alt="ICON-PAY">
                                </a>
                            </div>

                            <p class="stext-107 cl6 txt-center">
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;
                                <script>document.write(new Date().getFullYear());</script> All rights reserved | Made
                                with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com"
                                    target="_blank">Colorlib</a> &amp; distributed by <a href="https://themewagon.com"
                                    target="_blank">ThemeWagon</a>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

                            </p>
                        </div>
                    </div>
                </footer>


                <!-- Back to top -->
                <div class="btn-back-to-top" id="myBtn">
                    <span class="symbol-btn-back-to-top">
                        <i class="zmdi zmdi-chevron-up"></i>
                    </span>
                </div>

                <!-- Modal1 -->


                <style>
                    .isotope-item {
                        width: 100%;
                    }

                    @media(min-width: 576px) {
                        .isotope-item {
                            width: 50%;
                        }
                    }

                    @media(min-width: 768px) {
                        .isotope-item {
                            width: 33.33%;
                        }
                    }

                    @media(min-width: 992px) {
                        .isotope-item {
                            width: 25%;
                        }
                    }
                </style>

                <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
                <script src="vendor/animsition/js/animsition.min.js"></script>
                <script src="vendor/bootstrap/js/popper.js"></script>
                <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
                <script src="vendor/select2/select2.min.js"></script>
                <script>
                    $(".js-select2").each(function () {
                        $(this).select2({
                            minimumResultsForSearch: 20,
                            dropdownParent: $(this).next('.dropDownSelect2')
                        });
                    })
                </script>
                <script src="vendor/daterangepicker/moment.min.js"></script>
                <script src="vendor/daterangepicker/daterangepicker.js"></script>
                <script src="vendor/slick/slick.min.js"></script>
                <script src="js/slick-custom.js"></script>
                <script src="vendor/parallax100/parallax100.js"></script>
                <script>
                    $('.parallax100').parallax100();
                </script>
                <script src="vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
                <script>
                    $('.gallery-lb').each(function () { // the containers for all your galleries
                        $(this).magnificPopup({
                            delegate: 'a', // the selector for gallery item
                            type: 'image',
                            gallery: {
                                enabled: true
                            },
                            mainClass: 'mfp-fade'
                        });
                    });
                </script>
                <script src="vendor/isotope/isotope.pkgd.min.js"></script>
                <script src="vendor/sweetalert/sweetalert.min.js"></script>
                <script>
                    $('.js-addwish-b2').on('click', function (e) {
                        e.preventDefault();
                    });

                    $('.js-addwish-b2').each(function () {
                        var nameProduct = $(this).parent().parent().find('.js-name-b2').html();
                        $(this).on('click', function () {
                            swal(nameProduct, "is added to wishlist !", "success");

                            $(this).addClass('js-addedwish-b2');
                            $(this).off('click');
                        });
                    });

                    $('.js-addwish-detail').each(function () {
                        var nameProduct = $(this).parent().parent().parent().find('.js-name-detail').html();

                        $(this).on('click', function () {
                            swal(nameProduct, "is added to wishlist !", "success");

                            $(this).addClass('js-addedwish-detail');
                            $(this).off('click');
                        });
                    });

                    /*---------------------------------------------*/

                    $('.js-addcart-detail').each(function () {
                        var nameProduct = $(this).parent().parent().parent().parent().find('.js-name-detail').html();
                        $(this).on('click', function () {
                            swal(nameProduct, "is added to cart !", "success");
                        });
                    });
                </script>
                <script src="vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
                <script>
                    $('.js-pscroll').each(function () {
                        $(this).css('position', 'relative');
                        $(this).css('overflow', 'hidden');
                        var ps = new PerfectScrollbar(this, {
                            wheelSpeed: 1,
                            scrollingThreshold: 1000,
                            wheelPropagation: false,
                        });

                        $(window).on('resize', function () {
                            ps.update();
                        })
                    });
                </script>
                <script src="js/main.js"></script>


    </body>

    </html>



    <script>

function orderConfirmation() {
    // Add your validation logic here

    // If validation passes, show SweetAlert confirmation
    Swal.fire({
        title: 'Confirm Order',
        text: 'Are you sure you want to place the order?',
        icon: 'question',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, place order'
    }).then((result) => {
        if (result.isConfirmed) {
            // User clicked "Yes, place order", you can proceed with submitting the form or any other action
               // Check the selected payment option
               const paymentOption = document.querySelector('input[name="billingOption"]:checked').value;
           if(paymentOption === 'Razor-Online'){
                // If the selected payment option is online, initiate Razorpay payment
             
                initiateRazorpayPayment();
           }else if(paymentOption === 'COD')
           {
            Swal.fire({
                title: 'Order Placed!',
                html: 'Hello, [User Name]!<br>Your order has been confirmed.<br><br>',
                icon: 'success',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'View Orders',
                cancelButtonText: 'Continue Shopping'
            }).then((result) => {
                if (result.isConfirmed) {
                    // Handle the "View Orders" action here (e.g., submit form and redirect to orders page)
                    document.getElementById('checkoutForm').action = '/checkOut/cod';
                    document.getElementById('checkoutForm').submit();
                } else {
                    // Handle the "Continue Shopping" action here (e.g., submit form and redirect to shopping page)
                    document.getElementById('checkoutForm').submit();
                }
            });
           }
           else if(paymentOption === 'Wallet')
           {
            Swal.fire({
                title: 'Order Placed!',
                html: 'Hello, [User Name]!<br>Your order has been confirmed.<br><br>',
                icon: 'success',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'View Orders',
                cancelButtonText: 'Continue Shopping'
            }).then((result) => {
                if (result.isConfirmed) {
                    // Handle the "View Orders" action here (e.g., submit form and redirect to orders page)
                    document.getElementById('checkoutForm').action = '/checkOut/Wallet';
                    document.getElementById('checkoutForm').submit();
                } else {
                    // Handle the "Continue Shopping" action here (e.g., submit form and redirect to shopping page)
                    document.getElementById('checkoutForm').submit();
                }
            });
           }


           

        }
    });
}

function initiateRazorpayPayment() {

    const ajaxUrl = '/checkOut/online'; 

    const requestBody = {
        amount: 100,  // The amount in the smallest currency unit (e.g., paisa for INR)
        currency: 'INR',  // The currency code (e.g., INR for Indian Rupees)
        receipt: 'abhishekabtr@gmail.com',  // A unique identifier for the order (can be an email or any unique string)
        payment_capture: 1,  // Automatically capture the payment after creation (1 for true, 0 for false)
       add:selectedAddressIndex
    };
    

    // Perform an Ajax request to create a Razorpay order
    $.ajax({
        
        url: ajaxUrl,
        type: 'POST',
        contentType: 'application/json',
        data: JSON.stringify(requestBody),
        success: function (response) {
            // Check if order creation is successful
            console.log('Razorpay Order Creation Response:', response);

            if (response.success) {
          
                console.log(response.mongodbOrderId)
                
                // Initiate Razorpay payment with the received response
                var formData = {
                    key: response.key_id,
                    amount: response.amount,
                    currency: 'INR',
                    name: response.product_name,
                    description: response.description,
                    image: '',
                    order_id: response.orderId,  // Corrected to use response.orderId
                   // mongodbOrderId:response.mongodbOrderId,
                   handler: function (paymentResponse) {
                    // Handle the successful payment response
                    Swal.fire({
                        icon: 'success',
                        title: 'Payment Succeeded',
                        text: 'Your payment was successful!',
                        timer: 2000, // Auto close after 2 seconds
                        showConfirmButton: false, // Hide the "OK" button
                        willClose: () => {
                            // Make the AJAX request to '/success'
                            $.ajax({
                                url: '/success',
                                type: 'POST',
                                contentType: 'application/json',
                                data: JSON.stringify({
                                    razorpayOrderId: response.orderId,
                                    paymentResponse: paymentResponse,
                                    mongodbOrderIds: response.mongodbOrderId,
                                }),
                                success: function (serverResponse) {
                                    
                                    console.log('Server Response:', serverResponse);
                                    window.location.href = "/profile?tab=orders";
                                },
                                error: function (xhr, status, error) {
                                    console.error('Ajax error:', status, error);
                                }
                            });
                        }
                    });
                    
                },
                    prefill: {  // Fixed comment syntax
                        contact: response.contact,
                        name: response.name,
                        email: response.email
                    }
                };
        
                // Call the Razorpay payment handler with the options
                var rzp = new Razorpay(formData);

                // Handle payment failure
                rzp.on('payment.failed', function (response) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Payment failed',
                        text: 'Oops! Something went wrong with your payment.',
                        timer: 2000, // Auto close after 2 seconds
                        showConfirmButton: false, // Hide the "OK" button
                        willClose: () => {
                            // Handle the failed payment response
                            $.ajax({
                                url: '/failure',  // Adjust the URL based on your server setup
                                type: 'POST',
                                contentType: 'application/json',
                                data: JSON.stringify({
                                    razorpayOrderId: response.razorpay_order_id,
                                    error: response.error,
                                    paymentResponse: response,
                                    mongodbOrderIds: response.notes.mongodbOrderId
                                }),
                                success: function (serverResponse) {
                                    console.log('Server Response:', serverResponse);
                                    window.location.href = "/profile?tab=orders";
                                },
                                error: function (xhr, status, error) {
                                    console.error('Ajax error:', status, error);
                                }
                            });
                        }
                    });
                });
                
                

                rzp.open();
            } else {
                // Handle error
                console.error(response.error);
            }
        },
        error: function (xhr, status, error) {
            // Handle Ajax error
            console.error('Ajax error:', status, error);
        }
    });
}
    </script>