<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>
        <%= title %>
    </title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link href="css/main.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="/admin/" class="brand-wrap">
                <h3 class="logo" alt="Evara Dashboard">TRENDS</h1>
            </a>
            <div>
                
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item">
                    <a class="menu-link" href="/admin/dashboard"> <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item has-submenu ">
                    <a class="menu-link" href="/admin/products"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Products</span>
                    </a>
                    <div class="submenu">
                        <a href="/admin/products" class="active">Product List</a>
                        <a href="/admin/catogories">Categories</a>
                        <a href="/admin/addProduct">Add product </a>
                    </div>
                </li>
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/users"> <i class="icon material-icons md-store"></i>
                        <span class="text">Users</span>
                    </a>
                </li>

                <li class="menu-item active">
                    <a class="menu-link" href="/admin/orders-list"> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Orders</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/messages"> <i class="icon material-icons md-comment"></i>
                        <span class="text">Messages</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/coupon-managment"> <i class="icon material-icons md-stars"></i>
                        <span class="text">Coupons</span> </a>
                </li>
                </ul>
            
            <br>
            <br>
        </nav>
    </aside>
    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-search">
                
            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i class="material-icons md-apps"></i> </button>
                <ul class="nav"> 
                    <li class="dropdown nav-item">                        
                            <a class="dropdown-item text-danger" href="/admin/logout"><i
                                    class="material-icons md-exit_to_app"></i>Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </header>
        

        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Order Tracking</h2>
                    <p>Details for Order ID: 3453012</p>
                </div>
            </div>
            <div class="card">
                <header class="card-header">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-6 mb-lg-0 mb-15">
                            <span>
                                <% const currentDate=new Date(); %>

                                    <i class="material-icons md-calendar_today"></i> <b>
                                        <%= currentDate.toDateString() %>, <%= currentDate.toLocaleTimeString() %>
                                    </b>
                            </span> <br>
                            <small class="text-muted">Order ID: <%= order._id %></small> <br>
                        </div>
                        <div class="col-lg-6 col-md-6 ms-auto text-md-end">
                            <% if (order.orderStatus !== '5') { %>
                             
                                <form id="statuschange">
                                    <select onchange="changeStatus('<%= order._id %>')" name="status"
                                        class="form-select d-inline-block mb-lg-0 mb-15 mw-200 mr-15">
                                        <option value="1">Processing</option>
                                        <option value="2">Quality Check</option>
                                        <option value="3">Shipped</option>
                                        <option value="4">Delivered</option>
                                    </select>
                                </form>
                            <% }else{ %>
                               <span class="alert-warning"> order Cancelled</span>
                            <% } %>
                        </div>
                       
                    </div>
                </header> <!-- card-header end// -->
                <div class="card-body">
                    <div class="order-tracking mb-100">
                        <div class="steps d-flex flex-wrap flex-sm-nowrap justify-content-between">
                            <div class="step completed">
                                <div class="step-icon-wrap">
                                    <div class="step-icon"><i class="material-icons md-shopping_cart"></i></div>
                                </div>
                                <h4 class="step-title">Confirmed Order</h4>
                                <small class="text-muted text-sm">
                                    <%= order.orderDate.toDateString() %>
                                </small>
                            </div>
                            <div class="step <%= order.orderStatus >= 1 && order.orderStatus !== '5' ? 'completed' : '' %>">
                                <div class="step-icon-wrap">
                                    <div class="step-icon"><i class="material-icons md-settings"></i></div>
                                </div>
                                <h4 class="step-title">Processing Order</h4>
                            </div>
                            <div class="step <%= order.orderStatus >= 2 && order.orderStatus !== '5' ? 'completed' : '' %>">
                                <div class="step-icon-wrap">
                                    <div class="step-icon"><i class="material-icons md-shopping_bag"></i></div>
                                </div>
                                <h4 class="step-title">Quality Check</h4>
                            </div>
                            <div class="step <%= order.orderStatus >= 3 && order.orderStatus !== '5' ? 'completed' : '' %>">
                                <div class="step-icon-wrap">
                                    <div class="step-icon"><i class="material-icons md-local_shipping"></i></div>
                                </div>
                                <h4 class="step-title">Product Dispatched</h4>
                            </div>
                            <div class="step <%= order.orderStatus >= 4 && order.orderStatus !== '5' ? 'completed' : '' %>">
                                <div class="step-icon-wrap">
                                    <div class="step-icon"><i class="material-icons md-check_circle"></i></div>
                                </div>
                                <h4 class="step-title">Product Delivered</h4>
                                <small class="text-muted text-sm">
                                    <%= order.deliveryDate.toDateString() %>
                                </small>
                            </div>
                        </div>
                        
                    </div>
                    <div class="row mb-50 mt-20 order-info-wrap text-center">
                        <div class="col-md-4">
                            <article class="icontext align-items-start">
                                <div class="text">
                                    <h6 class="mb-1">Customer</h6>
                                    <p class="mb-1">
                                        <%= order.deliveryAddress.Lname %> <br>
                                        <%= order.deliveryAddress.email %> <br>
                                        <%= order.deliveryAddress.mobile %>
                                    </p>
                                </div>
                            </article>
                        </div> <!-- col// -->
                        <div class="col-md-4">
                            <article class="icontext align-items-start">
                                <div class="text">
                                    <h6 class="mb-1">Payment Details<%= order.offlinePayment ? '(Cash On Delivery)' : '(online)' %></h6>
                                    <p class="mb-1">
                                        <% if (paymentType =='offline') { %>
                                            Cash on Delivery <br>
                                            Amount: <%= order.orderAmount %> <br>
                                            Date: <%= order.orderDate.toDateString() %> <br>
                                        <% } else if (paymentType=='online_pending') { %>
                                            Amount: <%= order.orderAmount %> <br>
                                            Date: <%= order.orderDate.toDateString() %> <br>
                                            Date: <%= order.orderDate.toDateString() %> <br>
                                            Payment Pending
                                        <% } else if (paymentType=='online') { %>
                                            Date: <%= order.orderDate.toDateString() %> <br>
                                            Amount: <%= order.orderAmount %> <br>
                                            Transaction ID: <small> <%= order.online_payment.transactionid %></small>
                                        <% } else if(paymentType=="wallet") { %>
                                            Date: <%= order.orderDate.toDateString() %> <br>
                                            Amount: <%= order.orderAmount %> <br>
                                            Transaction ID: <small><%= order.walletPayment.transactionid %></small>
                                        <% }else  %>
                                    </p>
                                </div>
                            </article>
                        </div> <!-- col// -->
                        
                        <div class="col-md-4">
                            <article class="icontext align-items-start">
                                <div class="text">
                                    <h6 class="mb-1">Deliver to</h6>
                                    <p class="mb-1">
                                        City: <%= order.deliveryAddress.city %> <br>
                                        <%= order.deliveryAddress.streetAdress %> <br>
                                        <%= order.deliveryAddress.pincode %>
                                    </p>
                                </div>
                            </article>
                        </div> <!-- col// -->
                    </div> <!-- row // -->
                    
                  <% if (order.orderStatus==='5') { %>
                    <div class="row">
                        <div class="col-md-12">
                            <h6 class="mb-3">Canellation Reason</h6>
                            <ul class="list-group">
                              <h6 style="color: rgb(254, 3, 3);"><%= reason.reason %></h6>
                            </ul>
                        </div>
                    </div>
                    <hr>
                    <br>
                  <% } %>


                    <div class="row">
                        <div class="col-md-12">
                            <h6 class="mb-3">Ordered Products</h6>
                            <ul class="list-group">
                                <% order.OrderedItems.forEach(product => { %>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         <li class="list-group-item d-flex jusxtify-content-between align-items-center">
                                        <%= product.name %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <span class="badge bg-primary rounded-pill"><%= product.quantity %></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <span>price: <%= product.price %></span>
                                    </li>
                                <% }); %>
                            </ul>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="text-center mt-100 mb-50">
                            <a class="btn btn-primary" href="/admin/orders-list">View other Order </a>
                        </div>
                    </div>
                </div> <!-- card end// -->
        </section> <!-- content-main end// -->



        <!-- content-main end// -->
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script>
                        document.write(new Date().getFullYear());
                    </script>
                    ©, Evara - HTML Ecommerce Template .
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">All rights reserved</div>
                </div>
            </div>
        </footer>
    </main>
    <script src="js/vendors/jquery-3.6.0.min.js"></script>
    <script src="js/vendors/bootstrap.bundle.min.js"></script>
    <script src="js/vendors/select2.min.js"></script>
    <script src="js/vendors/perfect-scrollbar.js"></script>
    <script src="js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="js/main.js" type="text/javascript"></script>
</body>

</html>