<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>
        <%= title %>
    </title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link href="css/main.css" rel="stylesheet" type="text/css" />
    <style>
        .edit-form {
            display: none;
            opacity: 0;
            transition: opacity 0.3s ease-in-out;
        }

        .product-image {
            width: 60px;
            /* Set the desired width */
            height: 40px;
            /* Set the desired height */
            object-fit: cover;
            /* Optional: Ensure the image maintains its aspect ratio */
            /* Add any other styles you want */
        }
    </style>
</head>

<body>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="/admin/" class="brand-wrap">
                <h3 class="logo" alt="Evara Dashboard">TRENDS</h1>
            </a>
            <div>
                
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item">
                    <a class="menu-link" href="/admin/dashboard"> <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item has-submenu ">
                    <a class="menu-link" href="/admin/products"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Products</span>
                    </a>
                    <div class="submenu">
                        <a href="/admin/products" class="active">Product List</a>
                        <a href="/admin/catogories">Categories</a>
                        <a href="/admin/addProduct">Add product </a>
                    </div>
                </li>
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/users"> <i class="icon material-icons md-store"></i>
                        <span class="text">Users</span>
                    </a>
                </li>

                <li class="menu-item active">
                    <a class="menu-link" href="/admin/orders-list"> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Orders</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/messages"> <i class="icon material-icons md-comment"></i>
                        <span class="text">Messages</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/coupon-managment"> <i class="icon material-icons md-stars"></i>
                        <span class="text">Coupons</span> </a>
                </li>
            </ul>

            <br>
            <br>
        </nav>
    </aside>
    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-search">

            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i
                        class="material-icons md-apps"></i> </button>
                <ul class="nav">
                    <li class="dropdown nav-item">
                        <a class="dropdown-item text-danger" href="/admin/logout"><i
                                class="material-icons md-exit_to_app"></i>Logout</a>
            </div>
            </li>
            </ul>
            </div>
        </header>



        <section class="content-main" id="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Order List </h2>
                    <p>Total Orders: <%= count ||0 %>.</p>
                </div>

            </div>
            <div class="card mb-4">
                <header class="card-header">
                    <div class="row gx-3">
                        <div class="col-lg-2 col-6 col-md-3" onchange="orderSort2(event,'<%= currentPage %>','<%= sort %>')">
                            <select class="form-select">
                                <option value="all" <%=sort2=='all' ?'selected':'' %>>Show all</option>
                                <option value="online" <%=sort2=='online' ?'selected':'' %>>Online Payment</option>
                                <option value="offline" <%=sort2=='offline' ?'selected':'' %>>Offline Payment</option>
                                <option value="wallet" <%=sort2=='wallet' ?'selected':'' %>>Wallet Payment</option>
                            </select>
                        </div>
                        
                        <div class="col-lg-4 col-md-6 me-auto">
                        </div>
                        <div class="col-lg-2 col-6 col-md-3">
                            <select class="form-select"
                                onchange="orderSort('<%= currentPage %>', event,'<%= sort2 %>')">
                                <option value="all" <%=sort==='all' ? 'selected' : '' %>>Status</option>
                                <option value="1" <%=sort==='1' ? 'selected' : '' %>>Processing</option>
                                <option value="2" <%=sort==='2' ? 'selected' : '' %>>Quality Check</option>
                                <option value="3" <%=sort==='3' ? 'selected' : '' %>>Shipped</option>
                                <option value="4" <%=sort==='4' ? 'selected' : '' %>>Delivered</option>
                                <option value="5" <%=sort==='5' ? 'selected' : '' %>>Cancelled</option>
                            </select>
                        </div>
                    </div>
                </header> <!-- card-header end// -->

                <div class="card-body">
                    <div class="table-responsive" id="content-mains">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Order ID</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Total</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Delivery</th>
                                    <th scope="col" class="text-end"> Action </th>
                                </tr>
                            </thead>
                            <tbody>
                                <% if (orders.length>0) { %>
                                    <% orders.forEach((order, i)=> { %>
                                        <tr>
                                            <td>#SK<%= i + 1 %>
                                            </td>
                                            <td><b>
                                                    <%= order.deliveryAddress.Lname || "N/A" %>
                                                </b></td>
                                            <td>
                                                <%= order.deliveryAddress.email || "N/A" %>
                                            </td>
                                            <td>
                                                <%= order.orderAmount || "N/A" %>
                                            </td>
                                            <td>
                                                <span class="badge rounded-pill 
                                                    <% if (order.orderStatus === '1') { %>
                                                        alert-warning
                                                    <% } else if (order.orderStatus === '2') { %>
                                                        alert-info
                                                    <% } else if (order.orderStatus === '3') { %>
                                                        alert-primary
                                                    <% } else if (order.orderStatus === '4') { %>
                                                        alert-success
                                                    <% } else if (order.orderStatus === '5') { %>
                                                        alert-danger
                                                    <% } %>
                                                ">
                                                    <% if (order.orderStatus==='1' ) { %>
                                                        Processing
                                                        <% } else if (order.orderStatus==='2' ) { %>
                                                            Quality Check
                                                            <% } else if (order.orderStatus==='3' ) { %>
                                                                Shipped
                                                                <% } else if (order.orderStatus==='4' ) { %>
                                                                    Delivered
                                                                    <% } else if (order.orderStatus==='5' ) { %>
                                                                        Cancelled
                                                                        <% } %>
                                                </span>
                                            </td>
                                            <td>
                                                <%= order.deliveryDate ? order.deliveryDate.toDateString() : "N/A" %>
                                            </td>
                                            <td class="text-end">
                                                <a href="/admin/order-details?id=<%= order._id %>"
                                                    class="btn btn-md rounded font-sm">Details</a>
                                                <% if (order.orderStatus!=="4" &&order.orderStatus!=="5" ) { %>
                                                    <a href="/admin/delete-order?id=<%= order._id %>"
                                                        class="btn btn-danger rounded font-sm">Delete</a>
                                                    <% } %>
                                            </td>
                                        </tr>
                                        <% }) %>
                                            <% } else { %>
                                                <tr>
                                                    <td colspan="7">No Orders Yet  <a style="color: blue;" href="/admin/orders-list">Refresh Page</a></td>br
                                                   
                                                </tr>
                                                <% } %>
                            </tbody>
                        </table>
                    </div> <!-- table-responsive //end -->
                </div> <!-- card-body end// -->
            </div> <!-- card end// -->

            <div class="pagination-area mt-30 mb-50">
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-start" id="pagination">
                        <% if (currentPage> 1) { %>
                            <li class="page-item"><a class="page-link"
                                    href="/admin/orders-list?page=<%= currentPage - 1 %>&&sort=<%= sort %>&&sort2=<%= sort2 %>"><i
                                        class="material-icons md-chevron_left"></i></a></li>
                            <% } %>
                                <% for (let i=1; i <=totalPages; i++) { %>
                                    <li class="page-item <%= currentPage === i ? 'active' : '' %>"><a class="page-link"
                                            href="/admin/orders-list?page=<%= i %>&&sort=<%= sort %>&&sort2=<%= sort2 %>">
                                            <%= i %>
                                        </a></li>
                                    <% } %>
                                        <% if (currentPage < totalPages) { %>
                                            <li class="page-item"><a class="page-link"
                                                    href="/admin/orders-list?page=<%= currentPage + 1 %>&&sort=<%= sort %>&&sort2=<%= sort2 %>"><i
                                                        class="material-icons md-chevron_right"></i></a></li>
                                            <% } %>
                    </ul>
                </nav>
            </div>


            <!-- content-main end// -->
            <footer class="main-footer font-xs">
                <div class="row pb-30 pt-15">
                    <div class="col-sm-6">
                        <script>
                            document.write(new Date().getFullYear());
                        </script>
                        ©, Evara - HTML Ecommerce Template .
                    </div>
                    <div class="col-sm-6">
                        <div class="text-sm-end">All rights reserved</div>
                    </div>
                </div>
            </footer>
    </main>
    <script src="js/vendors/jquery-3.6.0.min.js"></script>
    <script src="js/vendors/bootstrap.bundle.min.js"></script>
    <script src="js/vendors/select2.min.js"></script>
    <script src="js/vendors/perfect-scrollbar.js"></script>
    <script src="js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="js/main.js" type="text/javascript"></script>
</body>

</html>