<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>
        <%= title %>
    </title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link href="css/main.css" rel="stylesheet" type="text/css" />
    <style>
        .edit-form {
            display: none;
            opacity: 0;
            transition: opacity 0.3s ease-in-out;
        }

        .product-image {
            width: 60px;
            /* Set the desired width */
            height: 40px;
            /* Set the desired height */
            object-fit: cover;
            /* Optional: Ensure the image maintains its aspect ratio */
            /* Add any other styles you want */
        }
        
    </style>
</head>

<body>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="/admin/" class="brand-wrap">
                <h3 class="logo" alt="Evara Dashboard">TRENDS</h1>
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i>
                </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item">
                    <a class="menu-link" href="/admin/dashboard"> <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item has-submenu active">
                    <a class="menu-link" href="/admin/products"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Products</span>
                    </a>
                    <div class="submenu">
                        <a href="/admin/products" class="active">Product List</a>
                        <a href="/admin/catogories">Categories</a>
                        <a href="/admin/addProduct">Add product </a>
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="/admin/users"> <i class="icon material-icons md-store"></i>
                        <span class="text">Users</span>
                    </a>
                    <div class="submenu">
                        <a href="/admin/users">User Managment</a>
                    </div>
                </li>
                <li class="menu-item has-submenu ">
                    <a class="menu-link" href="/admin/orders-list"> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Orders</span>
                    </a>
                    <div class="submenu">
                        <a href="/admin/orders-list">Order list 1</a>

                    </div>
                </li>


                <br>
                <br>
        </nav>
    </aside>
    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-search">
               
            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i
                        class="material-icons md-apps"></i> </button>
                <ul class="nav">

                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount"
                            aria-expanded="false"> <img class="img-xs rounded-circle" src="imgs/people/avatar2.jpg"
                                alt="User"></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">

                            <a class="dropdown-item text-danger" href="/admin/logout"><i
                                    class="material-icons md-exit_to_app"></i>Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </header>

        <section class="content-main" id="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Products List</h2>
                    <strong>Total Products: <%= count %></strong>
                    <% if (typeof msg !=='undefined' ) { %>
                        <h6 style="color:#1ea344;">
                            <%= msg %>
                        </h6>
                        <% } %>
                </div>
                <div>
                    <a href="/admin/addProduct" class="btn btn-primary"><i class="material-icons md-plus"></i>Create
                        new</a>
                </div>
            </div>
            <div class="card mb-4">
                <header class="card-header">
                    <div class="row align-items-center">
                        <div class="col-lg-4 col-md-6 me-auto">
                            <input onkeydown="if (event.keyCode == 13) { event.preventDefault(); searchProducts(event) }" type="text" placeholder="Search Products" class="form-control">
                        </div>
                       
                        <div class="col-md-3 col-12 me-auto mb-md-0 mb-3">
                            <select class="form-select"
                                onchange="productsSort2(event,'<%= currentPage %>','<%= sort %>','<%= name %>')">
                                <% catogories.forEach(category=> { %>
                                    <option value="<%= category._id %>" <%=sort2===category._id ? 'selected' : '' %>><%=
                                            category.name %>
                                    </option>
                                    <% }) %>
                                        <option value="all" <%=sort2==='all' ? 'selected' :'' %>>All category</option>
                            </select>
                        </div>
                        <div class="col-md-2 col-6">
                            <select class="form-select"
                                onchange="productsSort(event,'<%= currentPage %>','<%= sort2 %>','<%= name %>')">
                                <option value="all" <%=sort==='all' ?'selected':'' %>>Show All</option>
                                <option value="listed" <%=sort==='listed' ?'selected':'' %>>Listed</option>
                                <option value="unlisted" <%=sort==='unlisted' ?'selected':'' %>>Unlisted</option>
                            </select>
                        </div>
                    </div>
                </header>


               <% if (products.length>0) { %>
                <table class="table table-bordered" id="content-main">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Image</th>
                            <th scope="col">Price</th>
                            <th scope="col">Status</th>
                            <th scope="col">Date</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% products.forEach(product=> { %>
                            <tr class="id<%= product._id %>">
                                <td>
                                    <a class="itemside" href="/admin/editProduct?id=<%= product._id %>">
                                        <div class="info">
                                            <h6 class="mb-0">
                                                <%= product.name %>
                                            </h6>
                                        </div>
                                    </a>
                                </td>
                                <td>
                                    <a class="itemside" href="#">
                                        <div class="left">
                                            <img src="/resized_images/<%= product.img[0] %>"
                                                class="img-sm img-thumbnail product-image" alt="Product Image">
                                        </div>
                                       
                                        <div class="left additional-images">
                                            <img src="/resized_images/<%= product.img[1] %>"
                                                class="img-sm img-thumbnail product-image" alt="Product Image">
                                        </div>
                                        <div class="left additional-images">
                                            <img src="/resized_images/<%= product.img[2] %>"
                                                class="img-sm img-thumbnail product-image" alt="Product Image">
                                        </div>
                                    </a>
                                </td>
                                <td>
                                    <%= product.price %>
                                </td>
                                <td>
                                    <% if (product.status=="Available" ) { %>
                                        <span class="badge rounded-pill alert-success">Listed</span>
                                        <% } else { %>
                                            <span class="badge rounded-pill alert-warning">
                                                <%= product.status %>
                                            </span>
                                            <% } %>
                                </td>
                                <td>
                                    <%= product.createdate.toISOString().split('T')[0] %>
                                </td>
                                <td>
                                    <a href="/admin/editProduct?id=<%= product._id %>"
                                        class="btn btn-sm font-sm rounded btn-brand">
                                        <i class="material-icons md-edit"></i> Edit
                                    </a>

                                    <% if (product.status=="Available" ) { %>
                                        <a href="#" onclick="unlist('<%= product._id %>')"
                                            class="btn btn-sm font-sm rounded alert-warning">Disable</a>
                                        <% } else { %>
                                            <a href="#" onclick="list('<%= product._id %>')"
                                                class="btn btn-sm font-sm rounded alert-success">List</a>
                                            <% } %>

                                                <a href="#" onclick="confirmDelete('<%= product._id %>')"
                                                    class="btn btn-sm font-sm btn-light rounded">
                                                    <i class="material-icons md-delete_forever"></i> Delete
                                                </a>
                                </td>
                            </tr>
                            <% }) %>
                    </tbody>
                </table>
               <% } else{ %>
                <br><br>
                <h3>No Products At The Moment</h3> for Refreshing the list <a href="/admin/products" style="color: blue;">Click here</a>
                <% } %>
            </div>

            <div class="pagination-area mt-30 mb-50">
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-start" id="pagination">
                        <% if (currentPage> 1) { %>
                            <li class="page-item"><a class="page-link"
                                    href="/admin/products?page=<%= currentPage - 1 %>&&sort=<%= sort %>&&sort2=<%= sort2 %>&&name=<%= name %>"><i
                                        class="material-icons md-chevron_left"></i></a></li>
                            <% } %>
                                <% for (let i=1; i <=totalPages; i++) { %>
                                    <li class="page-item <%= currentPage === i ? 'active' : '' %>"><a class="page-link"
                                            href="/admin/products?page=<%= i %>&&sort2=<%= sort2 %>&&sort=<%= sort %>&&name=<%= name %>">
                                            <%= i %>
                                        </a></li>
                                    <% } %>
                                        <% if (currentPage < totalPages) { %>
                                            <li class="page-item"><a class="page-link"
                                                    href="/admin/products?page=<%= currentPage + 1 %>&&sort=<%= sort %>&&sort2=<%= sort2 %>&&name=<%= name %>"><i
                                                        class="material-icons md-chevron_right"></i></a></li>
                                            <% } %>
                    </ul>
                </nav>
            </div>


        </section> <!-- content-main end// -->


        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script>
                        document.write(new Date().getFullYear())
                    </script> ©, Evara - HTML Ecommerce Template .
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>
    </main>
    <script>
        function confirmDelete(id) {
            var confirmDelete = confirm("Are you sure you want to delete this Product?");
            if (confirmDelete) {
                window.location.href = "/admin/deleteProduct/" + id;
            }
        }
    </script>
    <script src="js/vendors/jquery-3.6.0.min.js"></script>
    <script src="js/vendors/bootstrap.bundle.min.js"></script>
    <script src="js/vendors/select2.min.js"></script>
    <script src="js/vendors/perfect-scrollbar.js"></script>
    <script src="js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="js/main.js" type="text/javascript"></script>
</body>

</html>