<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="user-public/images/icons/favicon-32x32.png" /> 
    <title>Sales Report</title>
    <style>
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background-color: #f5f5f5;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
        }

        .report-header {
            text-align: center;
            margin-bottom: 20px;
        }

        .report-header h1 {
            color: #333;
            font-size: 28px;
            margin-bottom: 10px;
        }

        .filtering-time {
            color: #666;
            font-size: 16px;
            margin: 0;
        }

        .order-card {
            border: 1px solid #ddd;
            border-radius: 10px;
            padding: 15px;
            /* Adjusted padding */
            margin-bottom: 15px;
            /* Adjusted margin */
        }

        .order-header p {
            color: #333;
            margin: 5px 0;
            font-size: 18px;
        }

        .order-details {
            margin-top: 15px;
        }

        .order-details p {
            margin: 5px 0;
            font-size: 16px;
        }

        .order-details h3 {
            color: #333;
            font-size: 20px;
            margin-top: 15px;
        }

        .ordered-items li {
            margin-bottom: 10px;
            font-size: 16px;
            color: #444;
        }

        .ordered-items li strong {
            font-weight: bold;
            color: #222;
        }

        .no-orders-msg {
            color: #666;
            text-align: center;
            font-size: 18px;
            margin-top: 20px;
        }

        .profit {
            margin-top: 20px;
            text-align: center;
            font-size: 20px;
            color: #007bff;
            /* Blue color */
        }

        hr {
            border: none;
            border-top: 1px solid #ddd;
            margin: 20px 0;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="report-header">
            <h1>
                <%= type %> Report
            </h1>
            <p class="filtering-time">
                <%= filteringTime %>
            </p>
        </div>
        <div class="profit">
            <p>Total Profit: <%= profit %>
            </p>
        </div>
        <div class="order-container">
            <% if (orders.length> 0) { %>
                <% orders.forEach((order, index)=> { %>
                    <div class="order-card">
                        <div class="order-header">
                            <p><strong>Order ID:</strong>
                                <%= order._id %>
                            </p>
                            <p><strong>Customer:</strong>
                                <%= order.deliveryAddress.Fname %>
                                    <%= order.deliveryAddress.Lname %>
                            </p>
                            <p><strong>Order Date:</strong>
                                <%= order.orderDate.toDateString() %>
                            </p>
                        </div>
                        <div class="order-details">
                            <p><strong>Total Price:</strong>
                                <%= order.orderAmount %>
                            </p>
                            <p><strong>Payment Status:</strong>
                                <%= order.paymentStatus %>
                            </p>
                            <p><strong>Delivery Date:</strong>
                                <%= order.deliveryDate.toDateString() %>
                            </p>
                            <h3>Product Information:</h3>
                            <ul class="ordered-items">
                                <% order.OrderedItems.forEach(item=> { %>
                                    <li>
                                        <strong>Name:</strong>
                                        <%= item.name %><br>
                                            <strong>Price:</strong>
                                            <%= item.price %><br>
                                                <strong>Quantity:</strong>
                                                <%= item.quantity %><br>
                                    </li>
                                    <% }); %>
                            </ul>
                        </div>
                    </div>
                    <% if (index !==orders.length - 1) { %>
                        <hr>
                        <% } %>
                            <% }); %>

                                <% } else { %>
                                    <p class="no-orders-msg">No recent orders.</p>
                                    <% } %>
        </div>
    </div>
</body>

</html>