<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>
    <%= title %>
  </title>
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta property="og:title" content="" />
  <meta property="og:type" content="" />
  <meta property="og:url" content="" />
  <meta property="og:image" content="" />
  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="imgs/theme/favicon.svg" />
  <!-- Template CSS -->
  <link href="css/main.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <div class="screen-overlay"></div>
  <aside class="navbar-aside" id="offcanvas_aside">
    <div class="aside-top">
      <a href="/admin/" class="brand-wrap">
        <h3 class="logo" alt="Evara Dashboard">TRENDS</h1>
      </a>
     
    </div>
    <nav>
      <ul class="menu-aside">
        <li class="menu-item">
          <a class="menu-link" href="/admin/dashboard">
            <i class="icon material-icons md-home"></i>
            <span class="text">Dashboard</span>
          </a>
        </li>
        <li class="menu-item has-submenu">
          <a class="menu-link" href="/admin/products">
            <i class="icon material-icons md-shopping_bag"></i>
            <span class="text">Products</span>
          </a>
          <div class="submenu">
            <a href="/admin/products">Product List</a>
            <a href="/admin/catogories">Categories</a>
            <a href="/admin/addProduct">Add product </a>
          </div>
        </li>
        <li class="menu-item active">
            <a class="menu-link" href="/admin/users"> <i class="icon material-icons  md-person"></i>
                <span class="text">Users</span>
            </a>
        </li>
        <li class="menu-item">
            <a class="menu-link" href="/admin/banner-managment"> <i class="icon material-icons  md-store"></i>
                <span class="text">Banners</span> </a>
        </li>
    

      <li class="menu-item">
          <a class="menu-link" href="/admin/orders-list"> <i class="icon material-icons md-shopping_cart"></i>
              <span class="text">Orders</span>
          </a>
      </li>
      <li class="menu-item">
        <a class="menu-link" href="/admin/messages"> <i class="icon material-icons md-comment"></i>
            <span class="text">Messages</span>
        </a>
    </li>
      <li class="menu-item">
          <a class="menu-link" href="/admin/coupon-managment"> <i class="icon material-icons md-stars"></i>
              <span class="text">Coupons</span> </a>
      </li>
      </ul>
      <br />
      <br />
    </nav>
  </aside>
  <main class="main-wrap">
    <header class="main-header navbar">
      <div class="col-search">
          
      </div>
      <div class="col-nav">
          <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i class="material-icons md-apps"></i> </button>
          <ul class="nav"> 
              <li class="dropdown nav-item">                        
                      <a class="dropdown-item text-danger" href="/admin/logout"><i
                              class="material-icons md-exit_to_app"></i>Logout</a>
                  </div>
              </li>
          </ul>
      </div>
  </header>
  


    <section class="content-main" id="content-main">
      <div class="content-header">
          <div class="content-title">
              <h2>Users list</h2>
              <p>Total user: <%= count %></p>
          </div>
          <div>
              <!-- This div is empty, you can add content here if needed -->
          </div>
      </div>
  
      <div class="card mb-4">
          <header class="card-header">
              <div class="row gx-3">
                  <div class="col-lg-4 col-md-6 me-auto">
                      <input onkeydown="if (event.keyCode == 13) { event.preventDefault(); searchUser(event) }" type="text" placeholder="Search User" class="form-control">
                  </div>
                  <div class="col-lg-2 col-md-3 col-6">
                      <select class="form-select" onchange="userSort(event,'<%= currentPage %>','<%= name %>')">
                          <option value="active" <%= sort==='active'?'selected':"" %>>Active</option>
                          <option value="blocked" <%= sort==='blocked'?'selected':'' %>>Blocked</option>
                          <option value="all" <%= sort==='all'?'selected':"" %>>Show all</option>
                      </select>
                  </div>
              </div>
          </header>
          <!-- card-header end// -->
  
          <div class="card-body">
              <div class="table-responsive">
                  <% if (users.length > 0) { %>
                      <table class="table table-hover">
                          <thead>
                              <tr>
                                  <th>User</th>
                                  <th>Email</th>
                                  <th>Status</th>
                                  <th></th>
                                  <th class="text-end">Actions</th>
                              </tr>
                          </thead>
                          <tbody>
                              <% users.forEach(user => { %>
                                  <tr class="user<%= user._id %>">
                                      <td width="40%">
                                          <a href="#" class="itemside">
                                              <div class="left"><i class="fas fa-user-circle fa-3x"></i></div>
                                              <div class="info pl-3">
                                                  <a href="/admin/userdetails?id=<%= user._id %>">
                                                      <h6 class="mb-0 title"><%= user.name %></h6>
                                                  </a>
                                                  <small class="text-muted">Customer ID: #<%= user._id %></small>
                                              </div>
                                          </a>
                                      </td>
                                      <td><%= user.email %></td>
                                      <td>
                                          <% if (user.status === 'Blocked') { %>
                                              <span class="badge rounded-pill alert-danger">
                                                  <%= user.status %>
                                              </span>
                                          <% } else { %>
                                              <span class="badge rounded-pill alert-success">
                                                  <%= user.status %>
                                              </span>
                                          <% } %>
                                      </td>
                                      <td></td>
                                      <td class="text-end">
                                          <div class="user-details-buttons">
                                              <% if (user.status === "Blocked") { %>
                                                  <a onclick="unblock('<%= user._id %>')" class="btn btn-success">Unblock</a>
                                              <% } else { %>
                                                  <a onclick="block('<%= user._id %>')" class="btn btn-warning">Block</a>
                                              <% } %>
                                          </div>
                                      </td>
                                  </tr>
                              <% }) %>
                          </tbody>
                      </table>
                  <% } else { %>
                      <h3>No Users At The Moment</h3>
                      <p>For refreshing <a href="/admin/users" style="color: blue;">click here</a></p>
                  <% } %>
              </div>
          </div>
          <!-- card-body end// -->
      </div>
      <!-- card mb-4 end// -->
  
      <div class="pagination-area mt-30 mb-50">
          <nav aria-label="Page navigation">
              <ul class="pagination justify-content-start" id="pagination">
                  <% if (currentPage > 1) { %>
                      <li class="page-item"><a class="page-link" href="/admin/users?page=<%= currentPage - 1 %>&&sort=<%= sort %>"><i class="material-icons md-chevron_left"></i></a></li>
                  <% } %>
                  <% for (let i = 1; i <= totalPages; i++) { %>
                      <li class="page-item <%= currentPage === i ? 'active' : '' %>"><a class="page-link" href="/admin/users?page=<%= i %>&&sort=<%= sort %>"><%= i %></a></li>
                  <% } %>
                  <% if (currentPage < totalPages) { %>
                      <li class="page-item"><a class="page-link" href="/admin/users?page=<%= currentPage + 1 %>&&sort=<%= sort %>"><i class="material-icons md-chevron_right"></i></a></li>
                  <% } %>
              </ul>
          </nav>
      </div>
  </section>

  
  
    <!-- content-main end// -->
    <footer class="main-footer font-xs">
      <div class="row pb-30 pt-15">
        <div class="col-sm-6">
          <script>
            document.write(new Date().getFullYear());
          </script>
          ©, Trends-  Ecommerce Store.
        </div>
        <div class="col-sm-6">
          <div class="text-sm-end">All rights reserved</div>
        </div>
      </div>
    </footer>
  </main>
  <script src="js/vendors/jquery-3.6.0.min.js"></script>
  <script src="js/vendors/bootstrap.bundle.min.js"></script>
  <script src="js/vendors/select2.min.js"></script>
  <script src="js/vendors/perfect-scrollbar.js"></script>
  <script src="js/vendors/jquery.fullscreen.min.js"></script>
  <!-- Main Script -->
  <script src="js/main.js" type="text/javascript"></script>
</body>

</html>